body {
    
    background: url(background.jpg ) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    font-family: 'Yusei Magic', sans-serif;
    color: black;
}

input, button {
    
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 600;
    
    
}


.main-div, .loggedin-div, .otp-div{
    
    width: 25%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
}

/* .recaptcha {
    width: 100%;
} */

.email-div{
    margin-bottom: 30px;
}


.main-div input, .otp-div input{
    display: block;
    border: 1px solid rgb(3, 49, 109);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.219);
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

.main-div button, .loggedin-div button, .otp-div button {
    background: rgba(111, 176, 236, 0.623);
    color:rgb(0, 0, 0);
    border: 1px solid #5d8ffc;
    border-radius: 5px solid rgb(3, 49, 109);
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div input:focus, .otp-div input:focus{
    border: 2px solid rgb(255, 255, 255);

}

.main-div button:hover, .loggedin-div button:hover, .otp-div button:hover{
    background: #ffffff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}
